.bi-cat::before {
    display: inline-block;
    content: " ";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 30.374' style='enable-background:new 0 0 848.2 805.1' xml:space='preserve' width='32' height='30.374'%3e%3cpath d='M8.213 2.011c-.532.207-.928.751-1.471 1.981a58.075 58.075 0 0 0-2.286 6.025c-.377 1.185-.513 1.796-.513 2.267 0 .192-.053.362-.313.966-1.09 2.55-1.705 5.584-1.532 7.572.185 2.113.936 3.976 2.309 5.704.404.502 1.747 1.83 1.89 1.864.128.034.155.015.717-.683a10.538 10.538 0 0 1 2.301-2.075 8.994 8.994 0 0 1 1.834-.871c.641-.215.751-.204.792.045.143.943.566 1.856 1.053 2.282 1.004.879 2.233.717 2.848-.377a2.43 2.43 0 0 1 .162-.272c.004 0 .091.136.189.298.573.966 1.585 1.192 2.528.589.641-.411 1.147-1.283 1.317-2.256.034-.189.083-.373.109-.407.075-.091.192-.068.762.124 1.607.536 3.007 1.577 4.305 3.177.238.294.392.453.453.453.098 0 .698-.528 1.253-1.113 1.637-1.709 2.581-3.584 2.935-5.829.098-.653.098-2.109-.004-2.89-.245-1.849-.739-3.626-1.517-5.455-.23-.536-.253-.626-.272-1.011-.034-.532-.204-1.23-.626-2.505a59.38 59.38 0 0 0-1.966-5.18c-.717-1.652-1.098-2.215-1.652-2.411-.528-.189-1.113.128-1.8.981-.615.77-1.475 2.207-2.335 3.927-.328.645-.63 1.222-.683 1.268-.075.079-.098.079-.287.03-.675-.185-4.705-.185-5.406-.004-.17.045-.223.045-.279-.004-.034-.03-.294-.513-.566-1.068-1.09-2.203-2.207-3.976-2.943-4.674-.445-.423-.962-.607-1.305-.468zm2.418 16.453c.845.204 1.622.77 1.984 1.452.392.739.396 1.784.015 2.505-.26.472-.864 1-1.411 1.215-.864.343-1.954.298-2.833-.109-1.12-.517-1.781-1.452-1.781-2.516.004-1.249 1.011-2.343 2.396-2.611.4-.083 1.162-.049 1.63.064zm12.367-.068c1.128.204 2.037.985 2.335 2.007.045.151.075.411.075.622 0 .423-.083.755-.298 1.162-.724 1.388-2.739 2.06-4.316 1.441-.543-.215-1.154-.739-1.411-1.215-.389-.717-.381-1.766.015-2.505.604-1.12 2.147-1.773 3.599-1.513zm-6.557 4.014c.423.053.864.192.943.283.045.053.045.083-.011.162-.094.158-1.302 1.298-1.377 1.298-.03 0-.373-.302-.751-.675-.792-.77-.792-.766-.324-.936a3.255 3.255 0 0 1 1.52-.132zm-.724 1.992c.2.253.079 1.626-.185 2.147-.34.668-1.109.894-1.849.543-.502-.234-.973-.792-1.098-1.286l-.026-.124.407.03c.909.06 1.705-.313 2.267-1.06.204-.264.302-.37.358-.37a.48.48 0 0 1 .124.121zm.8-.06c.034.03.155.174.264.313.562.751 1.358 1.12 2.267 1.06l.407-.03-.026.124c-.124.498-.596 1.053-1.098 1.286-.739.347-1.513.124-1.849-.543-.162-.332-.272-.928-.272-1.52 0-.453.011-.521.091-.626.098-.128.121-.136.215-.064z'/%3e%3cpath d='M8.99 19.079c-.849.23-1.456.811-1.656 1.577-.272 1.06.683 2.233 2.049 2.516.615.128 1.064.079 1.592-.17.547-.264.928-.683 1.12-1.23.075-.207.091-.34.075-.702-.015-.404-.026-.468-.174-.766-.272-.547-.732-.943-1.354-1.162-.449-.166-1.185-.189-1.652-.064zm2.505 1.222c.204.091.449.347.487.513a.918.918 0 0 1-.121.645c-.294.426-.875.506-1.234.162-.185-.174-.249-.328-.249-.592 0-.189.026-.272.128-.434.238-.343.619-.464.988-.294zm-2.607.045c.381.204.532.63.358 1.019-.177.407-.66.592-1.045.392-.626-.324-.66-1.094-.06-1.411.2-.109.555-.109.747 0zm12.767-1.29c-.581.128-1.268.596-1.535 1.06-.6 1.03-.204 2.313.887 2.86.739.37 1.505.347 2.365-.068.543-.26.939-.641 1.185-1.128.162-.328.17-.373.17-.751 0-.373-.011-.423-.162-.739-.313-.63-.819-1.026-1.558-1.215a3.321 3.321 0 0 0-1.351-.019zm-.472 1.253a.817.817 0 0 1 .456.724c0 .264-.064.419-.249.592-.472.449-1.286.143-1.358-.506-.03-.264.004-.389.174-.577.268-.313.638-.4.977-.234zm2.682.038c.607.324.566 1.098-.083 1.426-.215.109-.566.075-.762-.079a.794.794 0 0 1 .098-1.347c.2-.109.555-.109.747 0z'/%3e%3c/svg%3e");    background-repeat: no-repeat;
    background-size: contain;
    padding: 0.6rem;
  }

  
.bi-shopify::before {
    display: inline-block;
    content: " ";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32px' height='32px' viewBox='-1.973 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid'%3e%3cg%3e%3cpath d='M24.523 6.284c-0.022 -0.16 -0.162 -0.249 -0.278 -0.258 -0.116 -0.01 -2.563 -0.191 -2.563 -0.191s-1.699 -1.687 -1.886 -1.874c-0.187 -0.187 -0.551 -0.13 -0.693 -0.088 -0.021 0.006 -0.371 0.114 -0.951 0.294 -0.568 -1.634 -1.57 -3.135 -3.332 -3.135 -0.049 0 -0.099 0.002 -0.149 0.005C14.171 0.373 13.55 0.085 13.014 0.085c-4.106 0 -6.067 5.133 -6.682 7.741 -1.595 0.494 -2.729 0.846 -2.874 0.891 -0.891 0.279 -0.919 0.307 -1.036 1.147C2.334 10.499 0.004 28.519 0.004 28.519l18.156 3.402 9.838 -2.128S24.545 6.444 24.523 6.284ZM17.15 4.476l-1.536 0.476c0.001 -0.108 0.001 -0.215 0.001 -0.331 0 -1.015 -0.141 -1.833 -0.367 -2.481 0.908 0.114 1.513 1.147 1.902 2.336Zm-3.029 -2.135c0.252 0.633 0.417 1.541 0.417 2.766 0 0.063 -0.001 0.12 -0.001 0.178 -0.999 0.309 -2.085 0.645 -3.173 0.983 0.611 -2.358 1.756 -3.497 2.757 -3.926Zm-1.22 -1.155c0.177 0 0.356 0.06 0.527 0.178 -1.316 0.619 -2.726 2.179 -3.322 5.293l-2.508 0.777C8.295 5.059 9.952 1.187 12.901 1.187Z' fill='%2395BF46'/%3e%3cpath d='M24.245 6.026c-0.116 -0.01 -2.563 -0.191 -2.563 -0.191s-1.699 -1.687 -1.886 -1.874c-0.07 -0.069 -0.164 -0.105 -0.262 -0.12l-1.373 28.08 9.837 -2.128S24.545 6.444 24.523 6.284c-0.022 -0.16 -0.162 -0.249 -0.278 -0.258' fill='%235E8E3E'/%3e%3cpath d='m14.821 11.461 -1.213 3.608s-1.063 -0.567 -2.366 -0.567c-1.91 0 -2.006 1.199 -2.006 1.501 0 1.648 4.296 2.279 4.296 6.14 0 3.037 -1.926 4.993 -4.524 4.993 -3.117 0 -4.711 -1.94 -4.711 -1.94l0.835 -2.757s1.638 1.407 3.021 1.407c0.903 0 1.271 -0.711 1.271 -1.231 0 -2.15 -3.524 -2.246 -3.524 -5.778 0 -2.973 2.134 -5.85 6.441 -5.85 1.66 0 2.48 0.475 2.48 0.475' fill='%23FFFFFF'/%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0.5rem;
}

.bi-woo::before {
    display: inline-block;
    content: " ";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' style='enable-background:new 0 0 256 256' xml:space='preserve' width='32' height='32'%3e%3cpath d='M29.012 6.438H2.975C1.325 6.438 -0.013 7.787 0 9.425v9.938c0 1.65 1.337 2.987 2.987 2.987h12.338l5.638 3.138 -1.288 -3.138h9.338c1.65 0 2.987 -1.337 2.987 -2.987V9.425c0 -1.65 -1.337 -2.987 -2.987 -2.987z' style='fill-rule:evenodd;clip-rule:evenodd;fill:%237f54b3'/%3e%3cpath d='M2.425 8.738c-0.362 0.025 -0.637 0.163 -0.825 0.4 -0.188 0.237 -0.25 0.537 -0.212 0.875 0.775 4.9 1.488 8.213 2.163 9.925 0.263 0.625 0.563 0.925 0.912 0.9 0.55 -0.037 1.2 -0.8 1.975 -2.275 0.4 -0.838 1.038 -2.087 1.887 -3.763C9.037 17.275 10 19.125 11.213 20.375c0.338 0.35 0.688 0.512 1.038 0.487 0.3 -0.025 0.537 -0.188 0.688 -0.475 0.125 -0.25 0.188 -0.537 0.163 -0.863 -0.075 -1.188 0.037 -2.85 0.362 -4.987 0.338 -2.2 0.762 -3.775 1.275 -4.725 0.1 -0.2 0.15 -0.388 0.125 -0.625 -0.025 -0.3 -0.163 -0.55 -0.4 -0.75s-0.525 -0.287 -0.825 -0.263c-0.375 0.025 -0.662 0.212 -0.863 0.575 -0.813 1.475 -1.387 3.875 -1.725 7.2 -0.5 -1.25 -0.912 -2.737 -1.238 -4.475 -0.15 -0.775 -0.5 -1.137 -1.075 -1.1 -0.388 0.025 -0.725 0.287 -0.975 0.787L4.875 16.625c-0.475 -1.9 -0.912 -4.213 -1.325 -6.95 -0.087 -0.675 -0.463 -0.988 -1.125 -0.938zm27.3 2.462C29.25 10.375 28.563 9.875 27.625 9.688c-0.25 -0.05 -0.487 -0.075 -0.713 -0.075 -1.25 0 -2.275 0.65 -3.075 1.962 -0.675 1.113 -1.025 2.337 -1.025 3.688 0 1.012 0.212 1.875 0.625 2.587 0.475 0.825 1.163 1.325 2.087 1.512 0.25 0.05 0.487 0.075 0.713 0.075 1.275 0 2.288 -0.65 3.075 -1.962 0.675 -1.125 1.025 -2.35 1.025 -3.7 0.013 -1.012 -0.2 -1.875 -0.613 -2.575zm-1.65 3.625c-0.188 0.863 -0.512 1.5 -1 1.938 -0.375 0.338 -0.738 0.487 -1.063 0.412 -0.313 -0.063 -0.575 -0.338 -0.775 -0.85 -0.163 -0.4 -0.237 -0.813 -0.237 -1.188 0 -0.325 0.025 -0.65 0.087 -0.95 0.113 -0.537 0.338 -1.063 0.688 -1.563 0.438 -0.637 0.887 -0.9 1.363 -0.813 0.313 0.063 0.575 0.338 0.775 0.85 0.163 0.4 0.237 0.813 0.237 1.188 0.013 0.35 -0.025 0.675 -0.075 0.975zm-6.55 -3.625c-0.475 -0.825 -1.175 -1.325 -2.087 -1.512 -0.25 -0.05 -0.487 -0.075 -0.713 -0.075 -1.25 0 -2.275 0.65 -3.075 1.962 -0.675 1.113 -1.025 2.337 -1.025 3.688 0 1.012 0.212 1.875 0.625 2.587 0.475 0.825 1.163 1.325 2.087 1.512 0.25 0.05 0.487 0.075 0.713 0.075 1.275 0 2.288 -0.65 3.075 -1.962 0.675 -1.125 1.025 -2.35 1.025 -3.7 0 -1.012 -0.212 -1.875 -0.625 -2.575zm-1.65 3.625c-0.188 0.863 -0.512 1.5 -1 1.938 -0.375 0.338 -0.738 0.487 -1.063 0.412 -0.313 -0.063 -0.575 -0.338 -0.775 -0.85 -0.163 -0.4 -0.237 -0.813 -0.237 -1.188 0 -0.325 0.025 -0.65 0.087 -0.95 0.113 -0.537 0.338 -1.063 0.688 -1.563 0.438 -0.637 0.887 -0.9 1.363 -0.813 0.313 0.063 0.575 0.338 0.775 0.85 0.163 0.4 0.237 0.813 0.237 1.188 0.013 0.35 -0.013 0.675 -0.075 0.975z' style='fill-rule:evenodd;clip-rule:evenodd;fill:%23fff'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0.5rem;

}

.bi-js::before {
    display: inline-block;
    content: " ";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32px' height='32px' viewBox='0 0 1.28 1.28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath x='2' y='2' width='28' height='28' fill='%23FFCA28' d='M0.08 0.08H1.2V1.2H0.08V0.08z'/%3e%3cpath d='m0.76 1.012 0.082 -0.055c0.006 0.02 0.047 0.069 0.099 0.069 0.052 0 0.076 -0.028 0.076 -0.047 0 -0.051 -0.053 -0.069 -0.078 -0.078a0.148 0.148 0 0 1 -0.01 -0.004 0.147 0.147 0 0 0 -0.005 -0.002c-0.028 -0.011 -0.132 -0.05 -0.132 -0.166 0 -0.127 0.122 -0.141 0.15 -0.141 0.018 0 0.105 0.002 0.149 0.084l-0.08 0.056c-0.018 -0.036 -0.047 -0.047 -0.065 -0.047 -0.044 0 -0.054 0.032 -0.054 0.047 0 0.041 0.048 0.06 0.089 0.076 0.011 0.004 0.021 0.008 0.029 0.012 0.044 0.021 0.11 0.055 0.11 0.163C1.12 1.033 1.075 1.12 0.961 1.12c-0.153 0 -0.194 -0.092 -0.201 -0.108Z' fill='%233E3E3E'/%3e%3cpath d='m0.36 1.022 0.086 -0.055c0.007 0.02 0.033 0.058 0.071 0.058 0.038 0 0.057 -0.039 0.057 -0.058V0.6h0.106v0.368c0.002 0.051 -0.026 0.152 -0.151 0.152C0.415 1.12 0.368 1.052 0.36 1.022Z' fill='%233E3E3E'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0.5rem;

}

.bi-css::before {
    display: inline-block;
    content: " ";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32px' height='32px' viewBox='0 0 1.28 1.28' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle%3efile_type_css%3c/title%3e%3cpath points='5.902 27.201 3.656 2 28.344 2 26.095 27.197 15.985 30 5.902 27.201' style='fill:%231572b6' d='M0.236 1.088L0.146 0.08L1.134 0.08L1.044 1.088L0.639 1.2L0.236 1.088Z'/%3e%3cpath points='16 27.858 24.17 25.593 26.092 4.061 16 4.061 16 27.858' style='fill:%2333a9dc' d='M0.64 1.114L0.967 1.024L1.044 0.162L0.64 0.162L0.64 1.114Z'/%3e%3cpath points='16 13.191 20.09 13.191 20.372 10.026 16 10.026 16 6.935 16.011 6.935 23.75 6.935 23.676 7.764 22.917 16.282 16 16.282 16 13.191' style='fill:%23fff' d='M0.64 0.528L0.804 0.528L0.815 0.401L0.64 0.401L0.64 0.277L0.64 0.277L0.95 0.277L0.947 0.311L0.917 0.651L0.64 0.651L0.64 0.528Z'/%3e%3cpath points='16.019 21.218 16.005 21.222 12.563 20.292 12.343 17.827 10.67 17.827 9.24 17.827 9.673 22.68 16.004 24.438 16.019 24.434 16.019 21.218' style='fill:%23ebebeb' d='M0.641 0.849L0.64 0.849L0.503 0.812L0.494 0.713L0.427 0.713L0.37 0.713L0.387 0.907L0.64 0.978L0.641 0.977L0.641 0.849Z'/%3e%3cpath points='19.827 16.151 19.455 20.29 16.008 21.22 16.008 24.436 22.344 22.68 22.391 22.158 22.928 16.151 19.827 16.151' style='fill:%23fff' d='M0.793 0.646L0.778 0.812L0.64 0.849L0.64 0.977L0.894 0.907L0.896 0.886L0.917 0.646L0.793 0.646Z'/%3e%3cpath points='16.011 6.935 16.011 8.855 16.011 10.018 16.011 10.026 8.555 10.026 8.555 10.026 8.545 10.026 8.483 9.331 8.342 7.764 8.268 6.935 16.011 6.935' style='fill:%23ebebeb' d='M0.64 0.277L0.64 0.354L0.64 0.401L0.64 0.401L0.342 0.401L0.342 0.401L0.342 0.401L0.339 0.373L0.334 0.311L0.331 0.277L0.64 0.277Z'/%3e%3cpath points='16 13.191 16 15.111 16 16.274 16 16.282 12.611 16.282 12.611 16.282 12.601 16.282 12.539 15.587 12.399 14.02 12.325 13.191 16 13.191' style='fill:%23ebebeb' d='M0.64 0.528L0.64 0.604L0.64 0.651L0.64 0.651L0.504 0.651L0.504 0.651L0.504 0.651L0.502 0.623L0.496 0.561L0.493 0.528L0.64 0.528Z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0.5rem;

}

.bi-html::before {
    display: inline-block;
    content: " ";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32px' height='32px' viewBox='0 0 1.28 1.28' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle%3efile_type_html%3c/title%3e%3cpath points='5.902 27.201 3.655 2 28.345 2 26.095 27.197 15.985 30 5.902 27.201' style='fill:%23e44f26' d='M0.236 1.088L0.146 0.08L1.134 0.08L1.044 1.088L0.639 1.2L0.236 1.088Z'/%3e%3cpath points='16 27.858 24.17 25.593 26.092 4.061 16 4.061 16 27.858' style='fill:%23f1662a' d='M0.64 1.114L0.967 1.024L1.044 0.162L0.64 0.162L0.64 1.114Z'/%3e%3cpath points='16 13.407 11.91 13.407 11.628 10.242 16 10.242 16 7.151 15.989 7.151 8.25 7.151 8.324 7.981 9.083 16.498 16 16.498 16 13.407' style='fill:%23ebebeb' d='M0.64 0.536L0.476 0.536L0.465 0.41L0.64 0.41L0.64 0.286L0.64 0.286L0.33 0.286L0.333 0.319L0.363 0.66L0.64 0.66L0.64 0.536Z'/%3e%3cpath points='16 21.434 15.986 21.438 12.544 20.509 12.324 18.044 10.651 18.044 9.221 18.044 9.654 22.896 15.986 24.654 16 24.65 16 21.434' style='fill:%23ebebeb' d='M0.64 0.857L0.639 0.858L0.502 0.82L0.493 0.722L0.426 0.722L0.369 0.722L0.386 0.916L0.639 0.986L0.64 0.986L0.64 0.857Z'/%3e%3cpath points='15.989 13.407 15.989 16.498 19.795 16.498 19.437 20.507 15.989 21.437 15.989 24.653 22.326 22.896 22.372 22.374 23.098 14.237 23.174 13.407 22.341 13.407 15.989 13.407' style='fill:%23fff' d='M0.64 0.536L0.64 0.66L0.792 0.66L0.777 0.82L0.64 0.857L0.64 0.986L0.893 0.916L0.895 0.895L0.924 0.569L0.927 0.536L0.894 0.536L0.64 0.536Z'/%3e%3cpath points='15.989 7.151 15.989 9.071 15.989 10.235 15.989 10.242 23.445 10.242 23.445 10.242 23.455 10.242 23.517 9.548 23.658 7.981 23.732 7.151 15.989 7.151' style='fill:%23fff' d='M0.64 0.286L0.64 0.363L0.64 0.409L0.64 0.41L0.938 0.41L0.938 0.41L0.938 0.41L0.941 0.382L0.946 0.319L0.949 0.286L0.64 0.286Z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0.5rem;

}

.bi-php::before {
    display: inline-block;
    content: " ";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='-0.062 0 32 32' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid'%3e%3cpath fill='%231A171B' cx='128' cy='128.827' r='128' d='M31.875 16.041A15.938 15.938 0 0 1 15.938 31.978A15.938 15.938 0 0 1 0 16.041A15.938 15.938 0 0 1 31.875 16.041z'/%3e%3cpath d='M22.874 5.992c-1.617 0.056 -3.028 0.948 -4.079 2.18 -1.163 1.352 -1.937 2.955 -2.495 4.591 -0.997 -0.817 -1.767 -1.876 -3.367 -2.337 -1.237 -0.355 -2.536 -0.208 -3.73 0.682 -0.566 0.423 -0.956 1.062 -1.141 1.662 -0.48 1.561 0.505 2.95 0.952 3.449l0.978 1.048c0.202 0.205 0.687 0.741 0.45 1.51 -0.256 0.835 -1.264 1.376 -2.297 1.058 -0.461 -0.141 -1.124 -0.484 -0.976 -0.969 0.061 -0.198 0.203 -0.346 0.279 -0.517 0.07 -0.147 0.103 -0.257 0.124 -0.322 0.189 -0.616 -0.069 -1.418 -0.729 -1.622 -0.616 -0.189 -1.246 -0.039 -1.49 0.754 -0.277 0.901 0.154 2.536 2.463 3.248 2.706 0.831 4.994 -0.642 5.319 -2.563 0.204 -1.203 -0.339 -2.097 -1.334 -3.247l-0.811 -0.897c-0.491 -0.491 -0.66 -1.327 -0.152 -1.97 0.429 -0.542 1.04 -0.774 2.041 -0.502 1.461 0.397 2.112 1.41 3.199 2.228 -0.449 1.472 -0.742 2.949 -1.007 4.273l-0.162 0.988c-0.777 4.074 -1.37 6.311 -2.911 7.596 -0.31 0.221 -0.754 0.551 -1.423 0.574 -0.351 0.011 -0.464 -0.23 -0.469 -0.335 -0.008 -0.246 0.199 -0.359 0.337 -0.47 0.206 -0.112 0.517 -0.299 0.496 -0.895 -0.022 -0.705 -0.607 -1.317 -1.451 -1.289 -0.633 0.022 -1.597 0.617 -1.56 1.706 0.038 1.125 1.087 1.969 2.668 1.916 0.845 -0.029 2.733 -0.373 4.594 -2.585 2.166 -2.535 2.771 -5.442 3.227 -7.569l0.509 -2.809c0.283 0.034 0.585 0.056 0.913 0.064 2.697 0.057 4.046 -1.34 4.066 -2.356 0.013 -0.615 -0.404 -1.22 -0.987 -1.206 -0.418 0.012 -0.943 0.29 -1.069 0.868 -0.123 0.567 0.858 1.078 0.091 1.575 -0.545 0.353 -1.522 0.601 -2.897 0.399l0.25 -1.382c0.511 -2.622 1.14 -5.846 3.529 -5.925 0.174 -0.009 0.811 0.008 0.826 0.429 0.004 0.141 -0.031 0.177 -0.195 0.499 -0.168 0.251 -0.231 0.465 -0.223 0.711 0.023 0.669 0.532 1.109 1.268 1.083 0.986 -0.032 1.269 -0.992 1.253 -1.484 -0.04 -1.158 -1.26 -1.889 -2.876 -1.837Z' fill='%23FFF'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0.5rem;

}

.bi-google-logo::before {
    display: inline-block;
    content: " ";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32px' height='32px' viewBox='0 0 0.64 0.64' xmlns='http://www.w3.org/2000/svg' fill='none'%3e%3cpath fill='%234285F4' d='M0.596 0.326c0 -0.019 -0.002 -0.038 -0.005 -0.057h-0.266v0.108h0.152a0.13 0.13 0 0 1 -0.056 0.085v0.07h0.091c0.053 -0.049 0.084 -0.121 0.084 -0.206z'/%3e%3cpath fill='%2334A853' d='M0.326 0.6c0.076 0 0.14 -0.025 0.187 -0.068l-0.091 -0.07c-0.025 0.017 -0.058 0.027 -0.096 0.027 -0.073 0 -0.136 -0.049 -0.158 -0.116H0.074v0.072A0.282 0.282 0 0 0 0.326 0.6z'/%3e%3cpath fill='%23FBBC04' d='M0.167 0.374a0.167 0.167 0 0 1 0 -0.107V0.194H0.074a0.279 0.279 0 0 0 0 0.251l0.094 -0.072z'/%3e%3cpath fill='%23EA4335' d='M0.326 0.151a0.153 0.153 0 0 1 0.108 0.042l0.08 -0.08a0.271 0.271 0 0 0 -0.188 -0.073 0.282 0.282 0 0 0 -0.252 0.154L0.167 0.266c0.022 -0.066 0.085 -0.116 0.158 -0.116z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0.5rem;

}

[data-bs-theme=light] {
    --bs-primary: #000000;
    --bs-black: black;
    --bs-primary-active: #16191c;
    --bs-default-text: #16191c;
    --color-red: red;
    --bs-success: #11d64d;
    --bs-svg: url('../img/img-home/7c5ada3613657fc.gif');
}

[data-bs-theme=dark] {
    --bs-primary: #8267f7;
    --bs-black: black;
    --bs-primary-active: #16191c;

    --bs-body-bg: #272838;

    --gradienta-color: none;
    --color-red: red;
    --bs-success: #11d64d;
    --bs-svg: url('../img/img-home/ezgif-7-2590833c4c.gif');

}

.carousel-inner {
    min-height: 260px !important;
}

.text-danger {
    color: var(--color-red) !important;
}

.text-success {
    color: var(--bs-success) !important;
}

.text-primary {
    color: var(--bs-primary) !important;
    fill: var(--bs-primary) !important;

}

.default-text {
    color: var(--bs-default-text) !important;
}

.bg-primary {
    background-color: var(--bs-primary) !important;
}


.main-bg {
}

.rocket-bg {
    background-image: var(--bs-svg);
    background-blend-mode: color-burn;


}


.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: none!important;
    --bs-btn-hover-border-color: var(--bs-primary-active);
    --bs-btn-active-bg: var(--bs-primary-active);
    --bs-btn-active-border-color: var(--bs-primary-active);
}


[data-bs-target] {
    background: #020202a3 !important;
    width: 13px !important;
    border-top: 0px !important;
}

.indicators-custom {
    margin-bottom: -10px !important;
}

.scalable-element {
    transition: transform 0.3s ease-in-out;
    /* Add a smooth transition effect */
}

.scalable-element:hover,
.scalable-element:active {
    transform: scale(1.02);
    /* Increase the scale on hover or press */
}

.border {
    border: var(--bs-border-width) var(--bs-border-style) #49505745!important;}



    @-webkit-keyframes scale-in-center {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 1;
        }
    
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }
    
    @keyframes scale-in-center {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 1;
        }
    
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }
    
    .scale-in-center:nth-child(1) {
        -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
    }
    
    .scale-in-center:nth-child(2) {
        -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s both;
        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s both;
    }
    
    .scale-in-center:nth-child(3) {
        -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s both;
        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s both;
    }
    

    /* Slide from left */
@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

/* Slide from right */
@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}



.hover-color:hover {
    background-color: #637afd12;
}


.padding-custom-btn {

    padding:1rem 2rem!important;

}
/* Apply to elements */
.slide-in-left {
    -webkit-animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
    -webkit-animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

  .vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both!important;
	        animation: vibrate-1 0.3s linear infinite both!important;
}


@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  .slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slide-in-bottom:nth-child(1) {
    -webkit-animation: slide-in-bottom .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s both;
            animation: slide-in-bottom .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s both;
  }
  
  .slide-in-bottom:nth-child(2) {
    -webkit-animation: slide-in-bottom .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
            animation: slide-in-bottom .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
  }
  
  .slide-in-bottom:nth-child(3) {
    -webkit-animation: slide-in-bottom .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
            animation: slide-in-bottom .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
  }
  