html,
body {
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all 1s ease-out;
}

del {
  opacity: .7;
}

em {
  font-weight: 400;
}

a {
  text-decoration: none;
}


.rounded-4 {
  border-radius: .7rem !important;
}

.rounded-end-4 {
  border-top-right-radius: .7rem !important;
  border-bottom-right-radius: .7rem !important;


}

.rounded-5 {
  border-radius: 1.5rem !important;
}

.max-width-700 {
  max-width: 800px;
}

.btn-bg:active {
  background-color: #3939391c !important;
}

.rounded-shadow {
  border-radius: 8px !important;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}


/* 
.primary,
.btn-primary,
.bg-primary {
  background-color: blueviolet;
  border-color: blueviolet;

  &:hover,
  &:active {
    background-color: rgb(87, 26, 144) !important;
    border-color: rgb(75, 23, 125) !important;
    transition: 0.5s all !important;
  }

} */

.fadeIn {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in-out forwards;
  transition: all 1s ease-out;
}




@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slideUp {
  opacity: 0;
  transform: translateY(0px);
  animation: slideUpAnimation 1s ease-in-out forwards;
  transition: all 0.2s ease-in-out;
}

@keyframes slideUpAnimation {
  from {
    opacity: 0;
    transform: translateY(0px);
  }

  to {
    opacity: 1;
    transform: translateY(20px);
  }
}

.slide {
  opacity: 0;
  transform: translateY(20px);
  animation: slideUpAnimation 1s ease-in-out forwards;
  transition: all 0.2s ease-in-out;
}

@keyframes slideUpAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


.form-control:focus {
  border-color: transparent !important;
}


.alert-primary {
  background-color: rgb(0, 0, 0) !important;
  border-color: rgb(248, 248, 255) !important;
  color: rgb(254, 254, 254) !important;

  &:hover,
  &:active {
    background-color: rgb(141, 133, 148) !important;
    border-color: rgb(141, 133, 148) !important;
    color: rgb(254, 254, 254) !important;
    cursor: cell;
  }
}



.btn-custom-secondary:active {
  background-color: #585c7030 !important;
  box-shadow: inset 0px 0px 3px 2px #13151566;
}

.rotate-gear {
  transition: transform 0.3s ease-in-out !important;
  ;
}

.rotate-gear:active {
  transform: rotate(360deg) !important;
}

.modal-backdrop {
  background-color: rgb(255, 255, 255) !important;
}

.bi-cat::before {
  display: inline-block;
  content: "";
  vertical-align: -.125em;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 30.374' style='enable-background:new 0 0 848.2 805.1' xml:space='preserve' width='32' height='30.374'%3e%3cpath d='M8.213 2.011c-.532.207-.928.751-1.471 1.981a58.075 58.075 0 0 0-2.286 6.025c-.377 1.185-.513 1.796-.513 2.267 0 .192-.053.362-.313.966-1.09 2.55-1.705 5.584-1.532 7.572.185 2.113.936 3.976 2.309 5.704.404.502 1.747 1.83 1.89 1.864.128.034.155.015.717-.683a10.538 10.538 0 0 1 2.301-2.075 8.994 8.994 0 0 1 1.834-.871c.641-.215.751-.204.792.045.143.943.566 1.856 1.053 2.282 1.004.879 2.233.717 2.848-.377a2.43 2.43 0 0 1 .162-.272c.004 0 .091.136.189.298.573.966 1.585 1.192 2.528.589.641-.411 1.147-1.283 1.317-2.256.034-.189.083-.373.109-.407.075-.091.192-.068.762.124 1.607.536 3.007 1.577 4.305 3.177.238.294.392.453.453.453.098 0 .698-.528 1.253-1.113 1.637-1.709 2.581-3.584 2.935-5.829.098-.653.098-2.109-.004-2.89-.245-1.849-.739-3.626-1.517-5.455-.23-.536-.253-.626-.272-1.011-.034-.532-.204-1.23-.626-2.505a59.38 59.38 0 0 0-1.966-5.18c-.717-1.652-1.098-2.215-1.652-2.411-.528-.189-1.113.128-1.8.981-.615.77-1.475 2.207-2.335 3.927-.328.645-.63 1.222-.683 1.268-.075.079-.098.079-.287.03-.675-.185-4.705-.185-5.406-.004-.17.045-.223.045-.279-.004-.034-.03-.294-.513-.566-1.068-1.09-2.203-2.207-3.976-2.943-4.674-.445-.423-.962-.607-1.305-.468zm2.418 16.453c.845.204 1.622.77 1.984 1.452.392.739.396 1.784.015 2.505-.26.472-.864 1-1.411 1.215-.864.343-1.954.298-2.833-.109-1.12-.517-1.781-1.452-1.781-2.516.004-1.249 1.011-2.343 2.396-2.611.4-.083 1.162-.049 1.63.064zm12.367-.068c1.128.204 2.037.985 2.335 2.007.045.151.075.411.075.622 0 .423-.083.755-.298 1.162-.724 1.388-2.739 2.06-4.316 1.441-.543-.215-1.154-.739-1.411-1.215-.389-.717-.381-1.766.015-2.505.604-1.12 2.147-1.773 3.599-1.513zm-6.557 4.014c.423.053.864.192.943.283.045.053.045.083-.011.162-.094.158-1.302 1.298-1.377 1.298-.03 0-.373-.302-.751-.675-.792-.77-.792-.766-.324-.936a3.255 3.255 0 0 1 1.52-.132zm-.724 1.992c.2.253.079 1.626-.185 2.147-.34.668-1.109.894-1.849.543-.502-.234-.973-.792-1.098-1.286l-.026-.124.407.03c.909.06 1.705-.313 2.267-1.06.204-.264.302-.37.358-.37a.48.48 0 0 1 .124.121zm.8-.06c.034.03.155.174.264.313.562.751 1.358 1.12 2.267 1.06l.407-.03-.026.124c-.124.498-.596 1.053-1.098 1.286-.739.347-1.513.124-1.849-.543-.162-.332-.272-.928-.272-1.52 0-.453.011-.521.091-.626.098-.128.121-.136.215-.064z'/%3e%3cpath d='M8.99 19.079c-.849.23-1.456.811-1.656 1.577-.272 1.06.683 2.233 2.049 2.516.615.128 1.064.079 1.592-.17.547-.264.928-.683 1.12-1.23.075-.207.091-.34.075-.702-.015-.404-.026-.468-.174-.766-.272-.547-.732-.943-1.354-1.162-.449-.166-1.185-.189-1.652-.064zm2.505 1.222c.204.091.449.347.487.513a.918.918 0 0 1-.121.645c-.294.426-.875.506-1.234.162-.185-.174-.249-.328-.249-.592 0-.189.026-.272.128-.434.238-.343.619-.464.988-.294zm-2.607.045c.381.204.532.63.358 1.019-.177.407-.66.592-1.045.392-.626-.324-.66-1.094-.06-1.411.2-.109.555-.109.747 0zm12.767-1.29c-.581.128-1.268.596-1.535 1.06-.6 1.03-.204 2.313.887 2.86.739.37 1.505.347 2.365-.068.543-.26.939-.641 1.185-1.128.162-.328.17-.373.17-.751 0-.373-.011-.423-.162-.739-.313-.63-.819-1.026-1.558-1.215a3.321 3.321 0 0 0-1.351-.019zm-.472 1.253a.817.817 0 0 1 .456.724c0 .264-.064.419-.249.592-.472.449-1.286.143-1.358-.506-.03-.264.004-.389.174-.577.268-.313.638-.4.977-.234zm2.682.038c.607.324.566 1.098-.083 1.426-.215.109-.566.075-.762-.079a.794.794 0 0 1 .098-1.347c.2-.109.555-.109.747 0z'/%3e%3c/svg%3e");    background-repeat: no-repeat;
  background-size: contain;
  padding: 1.3rem;
}