.placeholder {
    height: 90px;
    border: 1px dashed #798087;
    border-radius: 5px;
    cursor: pointer !important;
}

.card {
    max-width: 360px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

/* 
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.52);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.52);
} */
@media screen and (max-width: 420px) {

    .sm-w-100 {
        width: 100%;
    }
}

.z-index {

    z-index: 1050 !important;

}

@media screen and (min-width: 620px) {

    .w-md-75 {
        width: 75%;
    }
}